<div class="row">
  <label>Email</label>
  <input class="form-control" type="text" label="Email" [(ngModel)]="authenticator.email" />
  <label>Password</label>
  <input class="form-control" type="text" label="Password" [(ngModel)]="authenticator.password" />
  <div class="col-lg-12">
    <p-button pButton label="Primary" class="ui-button-rounded ui-button-success" (click)="loginStudent()"></p-button>
  </div>
</div>
