<ng-container>
  <!--<div class="ui-lg-2 ui-md-2 ui-sm-2 ui-g-2 container-fluid-left no-padding-left no-padding-right">
    &lt;!&ndash; MENU-LEFT &ndash;&gt;
  </div>-->


  <div id="wrapper" class="container-fluid-content ui-lg-12 ui-md-12 ui-sm-12 ui-g-12"
       style="padding-left: 20px;padding-right:20px; padding-top: 50px">
    <!-- CONTENTS -->
    <router-outlet></router-outlet>
    <!-- <app-body>

     </app-body>-->
  </div>
</ng-container>

